@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.pointer {
  cursor: pointer;
}

.chip-list > * {
  margin: 6px 6px 0 0;
}

.chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 0 1rem;
  border-radius: 2rem;
  line-height: 2rem;
}

.card {
  background-color: $card-background-color;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1rem;
}

.chart-wrapper {
  display: block;
  position: relative;
  flex: 1;
  // So the wrapper can shrink
  min-width: 0;
  min-height: 0;
}
