@import '../../../assets/scss/variables.scss';

:host {
  display: block;
  padding: 2% 8%;
}

h2 {
  margin-bottom: 0.5%;
  display: inline-block;
  transition: 0.2s;
  transform: scale(1);
  position: relative;
}

h2:hover {
  transform: scale(1.1);
}

.margin-bottom {
  margin-bottom: 2%;
}

.user-link {
  text-decoration: none;
  color: inherit;
}
