@import "../assets/scss/variables";

:host {
  display: block;
  background-color: $website-background-color;
}

.routing-wrapper {
  min-height: $router-outlet-height;
  width: 100%;
  height: 1px;
}

::ng-deep router-outlet + * {
  display: block;
  height: 100%;
}
