@import "../assets/scss/variables";

:host {
  height: 100vh;
  width: 100vw;
  display: block;
  background-color: $website-background-color;
}

::ng-deep router-outlet + * {
  display: block;
  min-height: $router-outlet-height;
  height: 1px;
}
