@import "../assets/scss/variables";

:host {
  display: block;
  background-color: $website-background-color;
}

.routing-wrapper {
  display: table;
  height: $router-outlet-height;
  width: 100%;
  margin: $header-height 0 $footer-height 0;
}

::ng-deep router-outlet + * {
  display: block;
  height: 100%;
}
