<div class="statistic-grid">
  <!-- First row -->
  <app-chart-top-five [userQueries]="userQueries" [days]="7" label-title="week">
  </app-chart-top-five>

  <app-chart-consistency [userQueries]="userQueries"></app-chart-consistency>

  <app-chart-top-five
    [userQueries]="userQueries"
    [days]="30"
    label-title="month"
  >
  </app-chart-top-five>

  <!-- Second row -->
  <app-chart-total-commits-weekly [userQueries]="userQueries">
  </app-chart-total-commits-weekly>

  <app-chart-average-commits-daily [userQueries]="userQueries">
  </app-chart-average-commits-daily>

  <app-chart-total-commits-monthly [userQueries]="userQueries">
  </app-chart-total-commits-monthly>
</div>
