.statistic-grid {
  height: 100%;
  padding: 10px;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // So the component can shrink
    min-height: 0;
    min-width: 0;
  }
}
