@import "../../../assets/scss/variables";

$grid-padding: 1rem;
$grid-after-height: $grid-padding / 6;

.wrapper > * {
  min-height: $router-outlet-height;
}

.overall-statistic {
  height: 0;
  width: 0;
  min-width: 100%;
}

.statistic-grid {
  padding: $grid-padding;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.base-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  // So the component can shrink
  min-height: 0;
  min-width: 0;
}

.grid-chart {
  background-color: #fafafa;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1rem;
}

.overall-statistic-chart {
  padding: 1rem 3rem;
}

@media only screen and (max-width: 1000px) {
  .statistic-grid {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    & > * {
      min-height: 300px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .statistic-grid {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;

    & > * {
      min-height: 400px;
    }
  }
}
