* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chip-list > *:not(:first-child) {
    margin-left: 1rem;
}

.chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 0 1rem;
  border-radius: 2rem;
  line-height: 2rem;
}
